pkgbase = mcfx-o3
	pkgdesc = 3rd Order Ambix Plug-in Suite
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/kronihias/mcfx
	arch = x86_64
	arch = x86_64_v3
	groups = pro-audio
	groups = vst-plugins
	license = GPL2
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = freetype2
	makedepends = freeglut
	makedepends = gendesk
	makedepends = glu
	makedepends = libxcursor
	makedepends = libxinerama
	makedepends = jack2
	makedepends = liblo
	makedepends = zita-convolver
	makedepends = vst3sdk
	makedepends = vst2sdk
	makedepends = gtk3
	makedepends = webkit2gtk
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	optdepends = jack: for standalone applications
	optdepends = vst-host: for VST plugins
	provides = mcfx-o2
	source = mcfx-0.6.0.tar.gz::https://github.com/kronihias/mcfx/archive/v0.6.0.tar.gz
	sha256sums = 328ca92991b89dac83f731f25b488384fd2aaa8bb230464ee71a7e23b62288cc

pkgname = mcfx-o3
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = libasound.so
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = libfreetype.so
	depends = libzita-convolver.so
