pkgbase = archcraft-i3wm
	pkgdesc = i3wm Configurations for Archcraft
	pkgver = 3.0
	pkgrel = 0
	url = https://github.com/archcraft-os/archcraft-i3wm
	install = archcraft-i3wm.install
	arch = any
	license = GPL3
	depends = i3-wm
	depends = i3status
	depends = hsetroot
	depends = xsettingsd
	depends = pulsemixer
	depends = light
	depends = polybar
	depends = rofi
	depends = dunst
	depends = pastel
	depends = python-pywal
	optdepends = alacritty: default terminal emulator
	optdepends = thunar: default file manager
	optdepends = geany: default text editor
	optdepends = firefox: default web browser
	optdepends = viewnior: default image viewer
	optdepends = betterlockscreen: default lockscreen
	optdepends = ksuperkey: allows you to open the application launcher using the Super key
	optdepends = networkmanager-dmenu-git: control NetworkManager via rofi
	optdepends = mpd: server-side application for playing music, used in statusbars and scripts
	optdepends = mpc: minimalist command line interface to MPD
	optdepends = ffmpeg: complete solution to record, convert and stream audio and video, used in screenrecord scripts
	optdepends = maim: utility to take a screenshot, used in screenshot scripts
	optdepends = xclip: command line interface to the X11 clipboard
	optdepends = xcolor: lightweight color picker for X11
	optdepends = xfce4-power-manager: power manager
	optdepends = xorg-xsetroot: fix cursor theming, set root background
	optdepends = yad: display graphical dialogs from shell scripts
	optdepends = wmname: utility to set the name of your window manager
	conflicts = archcraft-i3wm-premium
	options = !strip
	options = !emptydirs
	source = https://github.com/b08x/archcraft-i3wm.git
	sha256sums = f073aca63619cc37a3d2f9728d0b278dd2cbc7d59a594a0ee4387f2b04dcef45

pkgname = archcraft-i3wm
