pkgbase = ambix-o1
	pkgdesc = Ambisonic plug-ins with variable order for use in Digital Audio Workstations
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/kronihias/ambix
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	checkdepends = lv2lint
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = eigen
	makedepends = fftw
	makedepends = freeglut
	makedepends = freetype2
	makedepends = gcc-libs
	makedepends = gendesk
	makedepends = git
	makedepends = glibc
	makedepends = glu
	makedepends = jack
	makedepends = libglvnd
	makedepends = liblo
	makedepends = libsoxr
	makedepends = libx11
	makedepends = libxcursor
	makedepends = libxext
	makedepends = libxinerama
	makedepends = vst2sdk
	makedepends = webkit2gtk
	makedepends = zita-convolver
	conflicts = ambix
	conflicts = ambix-lv2
	conflicts = ambix-standalone
	conflicts = ambix-vst
	replaces = ambix
	replaces = ambix-lv2
	replaces = ambix-standalone
	replaces = ambix-vst
	source = https://github.com/kronihias/ambix/archive/v0.3.0/ambix-v0.3.0.tar.gz
	source = JUCE-7.0.5.tar.gz
	sha512sums = d57ecd19f33fed98f9a4579f74f411880e85b42f56c095d47406d4c6a387a90279b84261c687721f4d13541dd6e3e8e751ce94d46ae533fc97d856d1e3e343e5
	sha512sums = 0f54752d8387d7cb5ad17360e6111cc4b89dc9c1565b64f8ef2379ef2afa1589041f7f92d6b11d56dbe1a5936a1db35ef5c8d97fd45cd30a0d3bce9ae85298ea
	b2sums = 44215ded9b0649089dcfbf83f510fb9f46f419498e03e463f187d077f34cab972b85890aa771a832f2797014b0dff9d320eab2c0e46790b28f209355b73a3091
	b2sums = 19c028f4c3c5d2cb8cfb2b3a9550ec84486a618c0fe454a51064cfbd74b7e25c4f372f1eebba94260a6d199ca08bf068869cd19ae422476e30c5c4abd231c81a

pkgname = ambix-o1
	depends = ambix-o1-lv2
	depends = ambix-o1-standalone
	depends = ambix-o1-vst

pkgname = ambix-o1-lv2
	pkgdesc = Ambisonic plug-ins with variable order for use in Digital Audio Workstations - LV2 plugins
	groups = lv2-plugins
	groups = pro-audio
	depends = fftw
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = freetype2
	depends = libfreetype.so
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = lv2-host
	depends = zita-convolver
	depends = libzita-convolver.so

pkgname = ambix-o1-standalone
	pkgdesc = Ambisonic plug-ins with variable order for use in Digital Audio Workstations - standalone
	groups = pro-audio
	depends = alsa-lib
	depends = libasound.so
	depends = fftw
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = freetype2
	depends = libfreetype.so
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = zita-convolver
	depends = libzita-convolver.so

pkgname = ambix-o1-vst
	pkgdesc = Ambisonic plug-ins with variable order for use in Digital Audio Workstations - VST plugins
	groups = pro-audio
	groups = vst-plugins
	depends = fftw
	depends = libfftw3f.so
	depends = libfftw3f_threads.so
	depends = freetype2
	depends = libfreetype.so
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libsoxr
	depends = libx11
	depends = libxext
	depends = vst-host
	depends = zita-convolver
	depends = libzita-convolver.so
