pkgbase = iempluginsuite-git
	pkgdesc = Plug-in suite including Ambisonic plug-ins up to 7th order
	pkgver = v1.14.1.r0.g5be3f97
	pkgrel = 1
	url = https://plugins.iem.at
	arch = x86_64
	arch = x86_64_v3
	groups = pro-audio
	groups = vst3-plugins
	license = GPL3
	makedepends = git
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = curl
	makedepends = fftw
	makedepends = freetype2
	makedepends = gendesk
	makedepends = jack2
	makedepends = juce
	makedepends = libjpeg-turbo
	makedepends = xorg-server-xvfb
	makedepends = webkit2gtk-4.1
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libpng
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxinerama
	depends = libxrandr
	depends = zlib
	provides = iempluginsuite-git
	conflicts = iempluginsuite
	source = git+https://git.iem.at/audioplugins/IEMPluginSuite.git
	source = IEMPluginSuite.png
	source = iempluginsuite.directory
	source = iempluginsuite.menu
	sha512sums = SKIP
	sha512sums = b986eefcdc61df9be8ff0852bc1f55d2804799951d44735ddecabfc683d01be8aac04af4686fcd917cf2097074d0c7a022f68a314b4c9a22139f1821b5ef52c1
	sha512sums = 1515011612f23f045d0b1ffdddb2d3ed50f6d4c79f408daac2371114c7f61af99f7f6fa8ec760b434b1651ff76f7266cc6daef5938bd306566d9d857ab9b8e29
	sha512sums = 2d290b5b8c9320013abb97e0a9051c6687a92700433454c88d4c89fe122c9b1537e128faf7060715c63eb28e93ad9f3f1a98765a7a5934e4f8bd0a8c20254ab3
	b2sums = SKIP
	b2sums = 6d57ade4b6454b39d3eb6f00022fbd89c6e82952959577b185f9ab24960ccc3de322de55dbafe418bb440a2348fc7013bcf0eeec14ae13bd6cc56b61075458c3
	b2sums = 27f33729c0100b866eafc76e51d9085686a94aad055ee75cdee13a02e1a6c1abeb897dcf00d36ccbce38da5ea0ee430d853c0468e97c21552d4c86d985b32512
	b2sums = 1ea251abb358de7675012b9c9bc6a7187c4c171267f4466437e1d324c1a19ed6e8f5b2eeb625093cfa0303ea534f9d4cd900966338b18126a09a41b6a3939dfc

pkgname = iempluginsuite-git
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libpng
	depends = libx11
	depends = libxcursor
	depends = libxext
	depends = libxinerama
	depends = libxrandr
	depends = zlib
	depends = libasound.so
	depends = libcurl.so
	depends = libfftw3f.so
	depends = libfreetype.so
	depends = libjack.so
	depends = libjpeg.so
