pkgbase = vital-synth-git
	pkgdesc = Spectral warping wavetable synth.
	pkgver = r17.636ca0e
	pkgrel = 1
	url = https://vital.audio
	install = vital-synth-git.install
	arch = x86_64
	arch = x86_64_v3
	license = custom
	makedepends = git
	makedepends = vst2sdk
	makedepends = gendesk
	depends = alsa-lib>=1.0.16
	depends = freetype2>=2.2.1
	depends = gcc-libs
	depends = gcc>=3.3.1
	depends = glib2>=2.12.0
	depends = glibc>=2.17
	depends = libcurl-gnutls>=7.16.2
	depends = libgl
	depends = libglvnd
	depends = libsecret>=0.7
	depends = vst2sdk
	provides = vital
	conflicts = vital
	conflicts = vital-git
	source = vital-synth::git+https://github.com/mtytel/vital.git
	sha256sums = SKIP

pkgname = vital-synth-git
