pkgbase = sonic-visualiser-git
	pkgdesc = A viewer and analyser of music audio files.
	pkgver = 4.5.2.r2688.cfed4bc
	pkgrel = 1
	url = https://code.soundsoftware.ac.uk/projects/sonic-visualiser
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = mercurial
	makedepends = git
	makedepends = mlton
	makedepends = vamp-plugin-sdk
	makedepends = ninja
	makedepends = meson
	makedepends = qt5-tools
	depends = alsa-lib
	depends = bzip2
	depends = capnproto
	depends = fftw
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = libfishsound
	depends = libglvnd
	depends = libid3tag
	depends = liblo
	depends = liblrdf
	depends = libmad
	depends = liboggz
	depends = libpulse
	depends = libsamplerate
	depends = libsndfile
	depends = libx11
	depends = opusfile
	depends = portaudio
	depends = qt5-base
	depends = qt5-svg
	depends = rubberband
	depends = serd
	depends = sord
	depends = libsoxr
	provides = sonic-visualiser
	conflicts = sonic-visualiser-git
	conflicts = sonic-visualiser-git
	conflicts = sonic-visualiser-git
	source = git+https://github.com/sonic-visualiser/sonic-visualiser
	md5sums = SKIP

pkgname = sonic-visualiser-git
