pkgbase = vamp-libxtract-plugins
	pkgdesc = Low-level feature extraction plugins using Jamie Bullock's libxtract library to provide around 50 spectral and other features
	pkgver = 0.6.6.20121204
	pkgrel = 1
	url = https://code.soundsoftware.ac.uk/projects/vamp-libxtract-plugins
	arch = i686
	arch = x86_64
	arch = x86_64_v3
	license = GPL2
	makedepends = git
	makedepends = fftw
	depends = vamp-plugin-sdk
	depends = libxtract-git
	source = git+http://git.altlinux.org/gears/v/vamp-libxtract-plugins.git
	md5sums = SKIP

pkgname = vamp-libxtract-plugins
